@import "tailwindcss";
@plugin "daisyui";

:root{
    background-color: #e9e9e9;
    color: black;
}


.color-types1{
    background-color: #e7e7e8;
}

/*Navbar - CSS part*/

.Alignment{
    display:  flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    font-size: 2rem;
    font-weight: 600;
    color: #632ee3;
    display: flex;
    padding-left: 80px;
}

.Logo img{
    width: 3rem;
}

.NavLink-Padding{
    padding: 19px;
    display: flex;
    font-size: 1.2rem;
    color: #6a7282;
    align-items: center;
    gap:8px;
}

.Navbar-Menu-Items{
    display: flex;
    color: black;
}

.Navbar-Right-Side-Button{
    padding-right: 80px;
}

/*Footer*/
.Footer{
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #001931;
    color: white;
}
.Footer img{
    width: 2rem;
}

.Footer-Left-Side-Content{
    align-items: center;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 24px;
}

.Bottom-Footer{
    text-align: center;
    padding: 10px 0;
}

/*Error*/
.Error-Alignment{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Error-Alignment h1{
    font-size: 48px;
    color: #001931;
}

.Error-Alignment p{
    font-size: 20px;
    color: #627382;
    padding-bottom: 10px;
}

/*Home - banner*/
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.banner h1{
    font-size: 72px;
}
.banner strong{
    color: #8d59ec;
}
.text-align{
    text-align: center;
}
.description p{
    color: #18181b;
    font-weight: normal;
}
.description strong{
    color: #392f5a;
}